<h2>Budget - May 2019</h2>
<div *ngFor="let paycheck of paychecks; index as paycheckIndex">
  <div *ngIf="editPaycheck.id !== paycheck.id; else editPaycheckBlock">
    ({{paycheck.startDate | date:dateFormat}} - {{paycheck.endDate | date:dateFormat}}) {{paycheck.source}} - {{paycheck.amount | currency}} 
    <button mat-icon-button class="iconButton" (click)="clickEditPaycheck(paycheck)">
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </div>
  <ng-template #editPaycheckBlock>
    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Source" [(ngModel)]="editPaycheck.source" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Amount" [(ngModel)]="editPaycheck.amount" />
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="editPaycheck.startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="editPaycheck.endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button class="saveButton" (click)="clickSavePaycheck(paycheckIndex)">Save</button>
      <br />
      <button mat-flat-button class="cancelButton" (click)="clickCancelPaycheck()">Cancel</button>
    </div>
  </ng-template>
</div>

<br />

<ft-budget-section [budgetSection]="budgetSection"></ft-budget-section>