<table>
    <thead>
        <tr>
            <th>{{budgetSection.sectionHeader}}</th>
            <th *ngFor="let items of paychecks; index as i;">
                {{ getPaycheckDescription(i) }}
            </th>
            <th>Budgeted</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of budgetSection.budgetItems;">
            <td class="itemHeader">
                <span>{{ item.itemHeader }}</span>
                <button mat-icon-button class="iconButton">
                    <mat-icon class="icon">edit</mat-icon>
                </button>
            </td>
            <td *ngFor="let budgetAmount of item.budgetAmounts" [ngClass]="{'amount': budgetAmount.amount}">{{ budgetAmount.amount | currency}} </td>
            <td class="totalAmount">{{ getItemSum(item.budgetAmounts) | currency }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="totalHeader">Total</td>
            <td *ngFor="let paycheck of paychecks; index as i;" class="amount">{{ getPaycheckTotal(i) | currency }}</td>
            <td class="totalAmount">{{ getAllPaycheckTotal() | currency }}</td>
        </tr>
    </tfoot>
</table>