<table>
    <thead>
        <tr>
            <th>{{budgetSection.sectionHeader}}</th>
            <th *ngFor="let items of paychecks; index as i;">
                {{ getPaycheckDescription(i) }}
            </th>
            <th>Budgeted</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of budgetSection.budgetItems; index as budgetItemIndex">
            <td *ngIf="item.id !== editorItem.id; else editorHeaderBlock" class="itemHeader" [matTooltip]="item.notes" matTooltipPosition="below" >
                <span>{{ item.itemHeader }}</span>
                <button mat-icon-button class="iconButton" (click)="showItemEditor(item)">
                    <mat-icon class="icon">edit</mat-icon>
                </button>
            </td>
            <ng-template #editorHeaderBlock>
                <td class="itemHeader">
                    <mat-form-field>
                        <input matInput type="text" placeholder="" [(ngModel)]="editorItem.itemHeader" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <textarea matInput placeholder="Notes" class="notes" [(ngModel)]="editorItem.notes"></textarea>
                    </mat-form-field>
                </td>
            </ng-template>
            <td *ngFor="let budgetAmount of item.budgetAmounts; index as budgetIndex" [ngClass]="{'amount': budgetAmount.amount}">
                <span *ngIf="item.id !== editorItem.id; else editBlock">{{ budgetAmount.amount | currency}}</span>
                <ng-template #editBlock>
                    <mat-form-field>
                        <input matInput type="number" placeHolder="" class="budgetItem budgetAmountInput" [ngClass]="{'amount': editorItem.budgetAmounts[budgetIndex].amount}" [(ngModel)]="editorItem.budgetAmounts[budgetIndex].amount" />
                    </mat-form-field>
                    <br />
                    <mat-checkbox class="checkbox" [(ngModel)]="editorItem.budgetAmounts[budgetIndex].isPaid">Is Paid?</mat-checkbox>
                    <br />
                    <mat-checkbox class="checkbox" [(ngModel)]="editorItem.budgetAmounts[budgetIndex].isCash">Is Cash?</mat-checkbox>
                    <br />
                    <mat-checkbox class="checkbox" [(ngModel)]="editorItem.budgetAmounts[budgetIndex].isAutoPay">Is AutoPay?</mat-checkbox>
                </ng-template>
            </td>
            <td class="totalAmount" *ngIf="item.id !== editorItem.id; else editTotalBlock">
                <span>{{ getItemSum(item.budgetAmounts) | currency }}</span>
            </td>
            <ng-template #editTotalBlock>
                <td>
                    <button mat-raised-button *ngIf="item.id === editorItem.id" class="saveButton" (click)="saveEditor(budgetItemIndex)">Save</button>
                    <br />
                    <button mat-flat-button *ngIf="item.id === editorItem.id" class="cancelButton" (click)="cancel()">Cancel</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="totalHeader">Total</td>
            <td *ngFor="let paycheck of paychecks; index as i;" class="amount">{{ getPaycheckTotal(i) | currency }}</td>
            <td class="totalAmount">
                <span>{{ getAllPaycheckTotal() | currency }}</span>
            </td>
        </tr>
    </tfoot>
</table>