.itemHeader {
  color: #cc0000;
}

.totalHeader {
  text-decoration: none;
}

.amount {
  font-weight: 500;
  color: #cc0000;
}

th {
  text-decoration: underline;
  text-align: left;
  border: solid black 1px;
  padding: 3px;
}

td {
  margin: 0;
  padding: 3px;
  border: solid black 1px;
  text-align: right;
}

table {
  border-collapse: collapse
}

tfoot > tr > td {
  color: black;
}