<table>
    <thead>
        <tr>
            <th>Utilities</th>
            <th>1st Paycheck</th>
            <th>2nd Paycheck</th>
            <th>Budgeted</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="itemHeader">Gas</td>
            <td class="amount">$80.00</td>
            <td>$0.00</td>
            <td class="amount">$80.00</td>
        </tr>
        <tr>
            <td class="itemHeader">Phone</td>
            <td>$0.00</td>
            <td class="amount">$60.00</td>
            <td class="amount">$60.00</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="totalHeader">Total</td>
            <td class="amount">$80.00</td>
            <td class="amount">$60.00</td>
            <td class="amount">$140.00</td>
        </tr>
    </tfoot>
</table>