.itemHeader, .amount {
  color: #cc0000;
}

.totalHeader {
  text-decoration: none;
}

.amount, .totalAmount, .itemHeader {
  font-weight: 500;
}

th {
  text-decoration: underline;
  text-align: left;
  border: solid black 1px;
  padding: 3px;
}

td {
  margin: 0;
  padding: 3px;
  border: solid black 1px;
  text-align: right;
}

table {
  border-collapse: collapse
}

tfoot > tr > td {
  color: black;
}

.icon {
  color: black;
  font-size: 18px;
  line-height: 1;
}

.iconButton {
  line-height: 1;
  height: initial;
  width: initial;
}

.itemHeader span {
  vertical-align: middle;
  padding: 5px 0px 5px 5px;
  text-align: left;
}