<div style="margin: auto 0">
  <h2 style="display:inline">Budget - May 2019</h2>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editBudgetName = true">
      <mat-icon>edit</mat-icon>
      <span>Edit Name</span>
    </button>    
    <button mat-menu-item (click)="changeBudget = true">
      <mat-icon>date_range</mat-icon>
      <span>View Different Budget</span>
    </button>
    <button mat-menu-item (click)="addBudgetSection = true">
      <mat-icon>add</mat-icon>
      <span>Add Section</span>
    </button>
    <button mat-menu-item (click)="clickDuplicateBudget()">
      <mat-icon>file_copy</mat-icon>
      <span>Duplicate</span>
    </button>
  </mat-menu>
</div>
<div *ngIf="budget">
  <div *ngFor="let paycheck of budget.paychecks; index as paycheckIndex">
    <div *ngIf="editPaycheck._id !== paycheck._id; else editPaycheckBlock">
      ({{paycheck.startDate | date:dateFormat}} - {{paycheck.endDate | date:dateFormat}}) {{paycheck.source}} -
      {{paycheck.amount | currency}}
      <button mat-icon-button class="iconButton" (click)="clickEditPaycheck(paycheck)">
        <mat-icon class="icon">edit</mat-icon>
      </button>
    </div>
    <ng-template #editPaycheckBlock>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Source" [(ngModel)]="editPaycheck.source" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Amount" [(ngModel)]="editPaycheck.amount" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date"
            [(ngModel)]="editPaycheck.startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="editPaycheck.endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="saveButton" (click)="clickSavePaycheck(paycheckIndex)">Save</button>
        <br />
        <button mat-flat-button class="cancelButton" (click)="clickCancelPaycheck()">Cancel</button>
      </div>
    </ng-template>
  </div>

  <br />

  <div *ngFor="let budgetSection of budget.sections; index as i">
    <ft-budget-section [budgetSection]="budgetSection"></ft-budget-section>
  </div>
</div>